---
layout: default
title: "Home"
---

<div class="text-[#0d1740] text-[32px] font-bold leading-9 mb-8">
    <p>WhaleAI Blog</p>
</div>

<div class="flex flex-col lg:flex-row gap-8">
    <div class="flex-1">
    
        <!-- Featured Post -->
        {% assign featured_post = site.posts.first %}
        <div>
            <!-- Placeholder with aspect-ratio for featured image -->
            <a href="{{ featured_post.url }}" class="block w-full bg-gray-200 rounded-lg">
                <img src="{{ featured_post.image }}" alt="{{ featured_post.title }}"
                    class="top-0 left-0 w-full h-[208px] md:h-[308px] lg:h-[362px] xl:h-[434px] object-cover rounded-lg">
            </a>
            <div class="mt-4">
                <div class="text-[#1c75f4] text-sm font-semibold leading-tight tracking-wider">
                    <p>{{ featured_post.category | upcase }}</p>
                </div>
                <div class="text-[#142b57] text-xl font-bold md:text-4xl md:font-medium mt-2">
                    <p><a href="{{ featured_post.url }}">{{ featured_post.title }}</a></p>
                </div>
                <div class="text-[#8694ab] text-sm font-semibold mt-4">
                    <p>{{ featured_post.date | date: "%d %b %Y" }}</p>
                </div>
            </div>
        </div>
    
        <!-- Post List -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-8 md:mt-16">
            {% for post in site.posts offset:1 %}
            <div>
                <!-- Placeholder with aspect-ratio for post images -->
                <a href="{{ post.url }}" class="block w-full bg-gray-200 rounded-lg mb-4">
                    <img src="{{ post.image }}" alt="{{ post.title }}"
                        class="top-0 left-0 w-full h-[208px] md:h-[197px] lg:h-[233px] xl:h-[281px] object-cover rounded-lg">
                </a>
                <div class="mt-4">
                    <div class="text-[#1c75f4] text-sm font-semibold leading-tight tracking-wider">
                        <p>{{ post.category | upcase }}</p>
                    </div>
                    <div class="text-[#142b57] text-xl font-bold mt-2">
                        <p><a href="{{ post.url }}">{{ post.title }}</a></p>
                    </div>
                    <div class="text-[#8694ab] text-sm font-semibold leading-tight mt-4">
                        <p>{{ post.date | date: "%d %b %Y" }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    {% include sidebar.html %}
    
</div>