---
layout: default
title: "Home"
---

<div class="text-[#0d1740] text-[32px] font-bold leading-9 mb-8">
    <p>WhaleAI Blog</p>
</div>

<div class="flex flex-col lg:flex-row gap-8">
    <div class="flex-1">
    
        <!-- Featured Post -->
        {% assign featured_post = site.posts.first %}
        <div>
            <!-- Placeholder with aspect-ratio for featured image -->
            <a href="{{ featured_post.url }}" class="block w-full rounded-lg bg-gray-200"
                style="padding-top: 50%; position: relative; overflow: hidden;">
                <img src="{{ featured_post.header_image }}" alt="{{ featured_post.title }}"
                    class="absolute top-0 left-0 w-full h-full object-cover">
            </a>
            <div class="mt-4">
                <div class="text-[#1c75f4] text-sm font-semibold uppercase leading-tight tracking-wider">
                    <p>{{ featured_post.category | upcase }}</p>
                </div>
                <div class="text-[#142b57] text-4xl font-medium mt-2">
                    <p><a href="{{ featured_post.url }}">{{ featured_post.title }}</a></p>
                </div>
                <div class="text-[#8694ab] text-sm font-semibold mt-4">
                    <p>{{ featured_post.date | date: "%d %b %Y" }}</p>
                </div>
            </div>
        </div>
    
        <!-- Post List -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-16">
            {% for post in site.posts offset:1 %}
            <div>
                <!-- Placeholder with aspect-ratio for post images -->
                <a href="{{ post.url }}" class="block w-full rounded-lg mb-4 bg-gray-200"
                    style="padding-top: 66.59%; position: relative; overflow: hidden;">
                    <img src="{{ post.header_image }}" alt="{{ post.title }}"
                        class="absolute top-0 left-0 w-full h-full object-cover">
                </a>
                <div class="mt-4 text-[#1c75f4] text-sm font-semibold uppercase leading-tight tracking-wider">
                    <p>{{ post.category | upcase }}</p>
                </div>
                <div class="mt-2 text-[#142b57] text-xl font-bold">
                    <p><a href="{{ post.url }}">{{ post.title }}</a></p>
                </div>
                <div class="mt-4 text-[#8694ab] text-sm font-semibold leading-tight">
                    <p>{{ post.date | date: "%d %b %Y" }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    {% include sidebar.html %}
    
</div>