---
layout: default
title: "Home"
---

<section class="container mx-auto flex flex-col lg:flex-row px-6 py-8 space-y-8 lg:space-y-0 lg:space-x-8">
    <!-- Main Article Section -->
    <section class="flex-1">
        <!-- Featured Post -->
        {% assign featured_post = site.posts.first %}
        <div class="featured-post mb-8">
            <!-- Placeholder with aspect-ratio for featured image -->
            <!-- <div class="w-full rounded-lg mb-4 bg-gray-200" style="padding-top: 56.25%; position: relative; overflow: hidden;"> -->
            <a href="{{ featured_post.url }}" class="block w-full rounded-lg mb-4 bg-gray-200"
                    style="padding-top: 50%; position: relative; overflow: hidden;">
                <img src="{{ featured_post.header_image }}" alt="{{ featured_post.title }}"
                    class="absolute top-0 left-0 w-full h-full object-cover">
            </a>
            <!-- </div> -->
            <p class="text-indigo-600 font-semibold">{{ featured_post.category | upcase }}</p>
            <h1 class="text-3xl font-bold mt-2 mb-2"><a href="{{ featured_post.url }}">{{ featured_post.title }}</a>
            </h1>
            <p class="text-gray-500">{{ featured_post.date | date: "%B %d, %Y" }}</p>
        </div>

        <!-- Post List -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            {% for post in site.posts offset:1 %}
            <div>
                <!-- Placeholder with aspect-ratio for post images -->
                <!-- <div class="w-full rounded-lg mb-4 bg-gray-200" style="padding-top: 56.25%; position: relative; overflow: hidden;"> -->
                <a href="{{ post.url }}" class="block w-full rounded-lg mb-4 bg-gray-200"
                    style="padding-top: 66.59%; position: relative; overflow: hidden;">
                    <img src="{{ post.header_image }}" alt="{{ post.title }}" class="absolute top-0 left-0 w-full h-full object-cover">
                </a>
                <!-- </div> -->
                <p class="text-indigo-600 font-semibold">{{ post.category | upcase }}</p>
                <h2 class="text-xl font-bold mt-2 mb-2"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                <p class="text-gray-500">{{ post.date | date: "%B %d, %Y" }}</p>
            </div>
            {% endfor %}
        </div>
    </section>

    {% include sidebar.html %}
</section>