<link href="https://fonts.cdnfonts.com/css/avenir" rel="stylesheet">
<link href="https://fonts.cdnfonts.com/css/roboto" rel="stylesheet">

<div class="relative mt-16 mb-16 flex justify-center items-center overflow-hidden font-[Avenir]
            bg-[url('/assets/images/360px-banner.svg')]
            md:bg-[url('/assets/images/760px-banner.svg')]
            lg:bg-[url('/assets/images/1200px-banner.svg')]
            xl:bg-[url('/assets/images/1440px-banner.svg')]
            bg-right-bottom
            bg-cover
            bg-no-repeat
            rounded-lg">
    <div class="flex flex-col justify-center items-center gap-[6.625rem] md:gap-4 relative z-10 pt-12 pb-4 md:pt-20 md:pb-20">
        <div class="self-stretch text-center pb-4">
            <p class="text-white text-3xl md:text-5xl font-medium">
                Unlock the potential of AI
            </p>
            <p class="text-[#dce7fd] text-3xl md:text-5xl font-medium">
                for your business
            </p>
        </div>
        <a href="https://whaleai-staging.firebaseapp.com/?from=blog&join=true">
            <div class="w-[220px] h-[50px] p-4 bg-[#1a2151] rounded-lg justify-center items-center gap-2 inline-flex">
                <div class="text-white text-sm font-medium tracking-wider font-['Roboto']">Join now</div>
            </div>
        </a>
    </div>
</div>