<div class="w-full h-[72px] px-2 sm:px-[72px] bg-white border-b border-[#dde2e8] justify-between items-center inline-flex">
    <div class="grow shrink basis-0 h-14 justify-start items-center gap-12 flex">
        <img src="/assets/logo-top.svg" alt="WhaleAI Logo" class="w-40 h-14 relative">
    </div>
</div>

<!-- <div
    class="w-full h-[72px] px-[72px] py-2 bg-white border-b border-[#dde2e8] justify-start items-center gap-8 inline-flex">
    <div class="grow shrink basis-0 h-14 justify-start items-center gap-12 flex">
        <div class="w-40 h-14 relative"></div>
    </div>
</div> -->