<!-- Sidebar (Aside) -->
<aside class="w-full lg:w-[300px] space-y-6">
    <div class="border border-[#e9ecf0] p-6 rounded-lg">
        <div class="text-[#8e90a1] text-base font-medium leading-normal mb-2">
            <p>Recommended Article</p>
        </div>
        <div class="space-y-4 text-gray-700">
            <div class="self-stretch h-px bg-[#e9ecf0]"></div>
            {% for post in site.posts %}
            {% if post.recommended == true %}
            <div class="text-[#142b57] text-sm font-medium leading-tight">
                <p>
                    <a href="{{ post.url }}" class="hover:underline">{{ post.title }}</a>
                </p>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</aside>