<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/assets/default.css">
    <link rel="stylesheet" as="style" crossorigin
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <script>
        // Tailwind 커스텀 설정
        tailwind.config = {
            theme: {
                extend: {
                    maxWidth: {
                        '1200': '1248px', // 1200px 최대 너비 추가
                    },
                    screens: {
                        'sm': '360px',
                        'md': '760px',
                        'lg': '1200px',
                        'xl': '1440px',
                    }
                },
            },
        };
    </script>
</head>

<body class="bg-white text-gray-800 min-h-screen">

    <!-- Header -->
    <header>
        {% include header.html %}
    </header>

    <!-- Main Content -->
    <main class="container max-w-1200 mx-auto pt-10 lg:pt-16 p-6">
        {{ content }}

        {% include bottom_banner.html %}
    </main>

    {% include footer.html %}
</body>

</html>