<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/assets/markdown.css">
    <link rel="stylesheet" href="/assets/default.css">
    <link rel="stylesheet" as="style" crossorigin
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <script>
        // Tailwind 커스텀 설정
        tailwind.config = {
            theme: {
                extend: {
                    maxWidth: {
                        '1200': '1248px', // 1200px 최대 너비 추가
                    },
                    screens: {
                        'sm': '360px',
                        'md': '760px',
                        'lg': '1200px',
                        'xl': '1440px',
                    }
                },
            },
        };
    </script>
</head>

<body class="bg-white text-gray-800 min-h-screen">

    <!-- Header -->
    <header>
        {% include header.html %}
    </header>

    <!-- Main Content -->
    <main class="container mx-auto max-w-1200 mx-auto pt-10 lg:pt-16 p-6">
        <a href="/" class="h-6 justify-start items-center gap-2 inline-flex mb-6">
            <img class="w-6 h-6 relative" src="/assets/chevron-left.svg"/>
            <div class="text-black text-base font-normal">Back</div>
        </a>

        <div class="flex flex-col lg:flex-row gap-8">
            <div class="flex-1">
                
                <!-- 상단 이미지 영역 Section -->

                <div class="block w-full rounded-lg bg-gray-200">
                    <img src="{{ page.header_image }}" alt="{{ featured_post.title }}"
                        class="top-0 left-0 w-full h-[208px] md:h-[308px] lg:h-[362px] xl:h-[434px] object-cover rounded-lg" />
                </div>

                <!-- 상단 카테고리/제목/날짜 영역 -->

                <div class="text-[#1c75f4] text-sm font-semibold uppercase leading-tight tracking-wider pt-4">
                    {{ page.category }}
                </div>

                <div class="text-[#142b57] text-xl md:text-4xl font-bold md:font-medium leading-tight pt-2">
                    {{ page.title }}
                </div>

                <div class="text-[#8694ab] text-sm font-semibold leading-tight pt-4">
                    {{ page.date | date: "%d %b %Y" }}
                </div>

                <div class="markdown-content pt-0 md:pt-8">
                    {{ content }}
                </div>
            </div>

            {% include sidebar.html %}
        </div>

        {% include bottom_banner.html %}
    </main>

    <!-- Footer -->
    <footer>
        {% include footer.html %}
    </footer>

    <style>
        /* Ensure images in prose are full width */
        .prose img {
            width: 100%;
            height: auto;
        }
    </style>
</body>

</html>